Repository coinhub-uit/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --list-different

feat: create vnpay transaction
  src/common/utils/generate_txn_ref.ts
  src/payment/controllers/payment.controller.ts
  src/payment/dtos/create-transaction.dto.ts
  src/payment/entities/vnpay-transaction.entity.ts
  src/payment/payment.module.ts
  src/payment/services/payment.service.ts
Due: eslint --fix, prettier --write

chore: wip
  package-lock.json
  package.json
  src/database/factories/plan-history.seeder.ts
  src/database/factories/source.factory.ts
  src/database/factories/ticket.factory.ts
  src/database/factories/user.factory.ts
  src/database/seeds/main.seeder.ts
  src/method/entities/method.entity.ts
Due: eslint --fix, prettier --write

chore: add route to get available plan
  src/plan/controllers/available-plan.controller.spec.ts
  src/plan/controllers/available-plan.controller.ts
  src/plan/plan.module.ts
  src/plan/services/available-plan.service.spec.ts
  src/plan/services/available-plan.service.ts
Due: eslint --fix, prettier --write

feat: handld transaction with vnpay
  src/common/utils/generate_txn_ref.ts
  src/payment/controllers/payment.controller.ts
  src/payment/dtos/create-transaction.dto.ts
  src/payment/entities/vnpay-transaction.entity.ts
  src/payment/payment.module.ts
  src/payment/services/payment.service.ts
  src/plan/controllers/available-plan.controller.spec.ts
  src/plan/controllers/available-plan.controller.ts
  src/plan/plan.module.ts
  src/plan/services/available-plan.service.spec.ts
  src/plan/services/available-plan.service.ts
Due: eslint --fix, prettier --write

fix: call createVnpayTransaction method on paymentService in vnpay-transaction endpoint
  src/common/utils/generate_txn_ref.ts
  src/payment/controllers/payment.controller.ts
Due: eslint --fix, prettier --write

chore: wip
  src/common/utils/date-utils.ts
  src/database/factories/user.factory.ts
  src/database/seeds/main.seeder.ts
Due: eslint --fix, prettier --write

refactor: resolve #12
  src/method/controllers/method.controller.ts
  src/method/entities/method.entity.ts
  src/method/services/method.service.ts
  src/plan/entities/available-plan.entity.ts
  src/plan/entities/plan-history.entity.ts
  src/plan/entities/plan.entity.ts
  src/plan/plan.module.ts
  src/setting/entities/setting.entity.ts
  src/ticket/entities/ticket-history.entity.ts
  src/ticket/entities/ticket.entity.ts
  src/ticket/ticket.module.ts
Due: eslint --fix, prettier --write

refactor: resolve #12 (#13)
  src/method/controllers/method.controller.ts
  src/method/entities/method.entity.ts
  src/method/services/method.service.ts
  src/plan/entities/available-plan.entity.ts
  src/plan/entities/plan-history.entity.ts
  src/plan/entities/plan.entity.ts
  src/plan/plan.module.ts
  src/setting/entities/setting.entity.ts
  src/ticket/entities/ticket-history.entity.ts
  src/ticket/entities/ticket.entity.ts
  src/ticket/ticket.module.ts
Due: eslint --fix, prettier --write

chore: handle ipn
  src/payment/services/payment.service.ts
Due: eslint --fix, prettier --write

chore(dev): config vscode tsls workspace diagnostic
  .vscode/settings.json
Due: none

fix: clean up vnpay
  .vscode/settings.json
  src/common/utils/generate-txn-ref.ts
  src/payment/controllers/payment.controller.ts
  src/payment/controllers/vnpay.controller.spec.ts
  src/payment/controllers/vnpay.controller.ts
  src/payment/dtos/create-transaction.dto.ts
  src/payment/dtos/create-vnpay.dto.ts
  src/payment/entities/transaction.entity.ts
  src/payment/payment.module.ts
  src/payment/services/payment.service.ts
  src/payment/services/vnpay.service.spec.ts
  src/payment/services/vnpay.service.ts
  src/plan/plan.module.ts
Due: eslint --fix, prettier --write

feat: ajsl;kdfj;alskdjfkalsjdfkasdjf;laksjdf metvcl
  src/plan/plan.module.ts
  src/plan/services/available-plan.service.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

feat: integrate vnpay to payment (#11)
  .vscode/settings.json
  src/common/utils/generate-txn-ref.ts
  src/payment/controllers/payment.controller.ts
  src/payment/controllers/vnpay.controller.spec.ts
  src/payment/controllers/vnpay.controller.ts
  src/payment/dtos/create-vnpay.dto.ts
  src/payment/entities/transaction.entity.ts
  src/payment/payment.module.ts
  src/payment/services/payment.service.ts
  src/payment/services/vnpay.service.spec.ts
  src/payment/services/vnpay.service.ts
  src/plan/controllers/available-plan.controller.spec.ts
  src/plan/controllers/available-plan.controller.ts
  src/plan/plan.module.ts
  src/plan/services/available-plan.service.spec.ts
  src/plan/services/available-plan.service.ts
  src/user/services/user.service.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

chore: add some plan endpoints
  src/plan/controllers/plan.controller.ts
  src/plan/services/plan.service.ts
Due: eslint --fix, prettier --write

refactor: matching database,...
  package-lock.json
  package.json
  src/admin/controllers/admin.controller.ts
  src/admin/dtos/login-admin.dto.ts
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/services/auth.service.ts
  src/common/database/options.ts
  src/common/entities/abstract.entity.ts
  src/common/utils/date-utils.ts
  src/common/utils/generate_txn_ref.ts
  src/common/utils/hashing.ts
  src/config/admin.jwt.config.ts
  src/config/database.config.ts
  src/payment/controllers/vnpay.controller.ts
  src/payment/dtos/create-transaction.dto.ts
  src/payment/dtos/create-vnpay.dto.ts
  src/payment/entities/vnpay-transaction.entity.ts
  src/payment/services/vnpay.service.ts
  src/plan/controllers/plan.controller.ts
  src/plan/entities/plan-history.entity.ts
  src/plan/entities/plan.entity.ts
  src/plan/entities/plan_history.entity.ts
  src/plan/services/plan.service.ts
  src/seed.ts
  src/setting/entities/settings.entity.ts
  src/setting/settings.module.ts
  src/source/entities/source.entity.ts
  src/ticket/entities/ticket.entity.ts
  src/user/dtos/create-user.dto.ts
  src/user/entities/user.entity.ts
  src/user/services/user.service.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

chore: cleanup merged redundant files
  src/common/utils/generate_txn_ref.ts
  src/payment/entities/vnpay-transaction.entity.ts
Due: eslint --fix, prettier --write

feat(controller): pluralize endpoints
  src/admin/controllers/admin.controller.ts
  src/app.module.ts
  src/method/controllers/method.controller.ts
  src/notification/controllers/notification.controller.ts
  src/payment/controllers/payment.controller.ts
  src/plan/controllers/available-plan.controller.ts
  src/plan/controllers/plan.controller.ts
  src/root/controllers/root.controller.ts
  src/ticket/controllers/ticket.controller.ts
  src/user/controllers/user.controller.ts
Due: eslint --fix, prettier --write

chore: update metadata of repo
  package.json
Due: none

chore(dev): type checking precommit
  .lintstagedrc.json
  package.json
Due: none

chore(dev): install deps on post-checkout git hook
  .husky/post-checkout
Due: none

chore(package-lock): update metadata
  package-lock.json
Due: none

feat(dev/vscode): add recommended extensions, setting typescript ls
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: add universal guard
  .vscode/settings.json
  src/admin/admin.module.ts
  src/admin/controllers/admin.controller.ts
  src/auth/guards/universal.jwt-auth.guard.spec.ts
  src/auth/guards/universal.jwt-auth.guard.ts
  src/auth/services/auth.service.ts
  src/auth/strategies/admin.jwt.stategy.ts
  src/auth/strategies/universal.jwt.strategy.ts
  src/auth/strategies/user.jwt.strategy.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

feat: done universal guard
  .lintstagedrc.json
  package-lock.json
  package.json
  src/admin/controllers/admin.controller.ts
  src/auth/guards/admin.jwt-auth.guard.spec.ts
  src/auth/guards/admin.jwt-auth.guard.ts
  src/auth/services/auth.service.ts
  src/auth/strategies/universal.jwt.strategy.ts
  src/payment/controllers/payment.controller.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

feat: universal guard for user and admin (#17)
  .lintstagedrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/admin/admin.module.ts
  src/admin/controllers/admin.controller.ts
  src/auth/guards/admin.jwt-auth.guard.spec.ts
  src/auth/guards/admin.jwt-auth.guard.ts
  src/auth/guards/universal.jwt-auth.guard.spec.ts
  src/auth/guards/universal.jwt-auth.guard.ts
  src/auth/services/auth.service.ts
  src/auth/strategies/admin.jwt.stategy.ts
  src/auth/strategies/universal.jwt.strategy.ts
  src/auth/strategies/user.jwt.strategy.ts
  src/payment/controllers/payment.controller.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

chore(dev): add justfile command for run api server prod
  justfile
Due: none

feat: wip
  src/common/utils/hashing.ts
  src/payment/dtos/transfer-money.dto.ts
  src/user/controllers/user.controller.ts
  src/user/dtos/create-user.dto.ts
  src/user/dtos/update-paritial-user.dto.ts
  src/user/dtos/update-user.dto.ts
  src/user/entities/user.entity.ts
  src/user/services/user.service.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

feat: add endpoints
  src/source/controllers/source.controller.spec.ts
  src/source/controllers/source.controller.ts
  src/source/dtos/create-source.dto.ts
  src/source/services/source.service.ts
  src/source/source.module.ts
  src/user/controllers/user.controller.ts
  src/user/entities/user.entity.ts
  src/user/services/user.service.ts
Due: eslint --fix, prettier --write

feat: yes sir vnpay
  .env.example
  src/payment/controllers/vnpay.controller.ts
  src/payment/dtos/create-top-up.dto.ts
  src/payment/dtos/create-transaction.dto.ts
  src/payment/dtos/create-vnpay.dto.ts
  src/payment/entities/top-up.entity.ts
  src/payment/payment.module.ts
  src/payment/services/top-up.service.spec.ts
  src/payment/services/top-up.service.ts
  src/payment/types/top-up.enum.ts
  src/setting/entities/settings.entity.ts
  src/source/entities/source.entity.ts
  src/source/services/source.service.ts
  src/statistic/entities/statistic.entity.ts
  src/ticket/entities/ticket-history.entity.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

fix(user): docs more clear
  src/user/dtos/create-user.dto.ts
  src/user/services/user.service.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

chore: try catch with verify instead of decode
  src/auth/services/auth.service.ts
  src/source/controllers/source.controller.spec.ts
Due: eslint --fix, prettier --write

chore: add example for return of create vnpay payment
  src/payment/controllers/vnpay.controller.ts
Due: eslint --fix, prettier --write

fix: update many cases, inject for nest, handle admin and user case
  src/admin/controllers/admin.controller.ts
  src/auth/auth.module.ts
  src/auth/services/auth.service.ts
  src/auth/strategies/admin.jwt.stategy.ts
  src/auth/strategies/admin.local.strategy.ts
  src/auth/strategies/universal.jwt.strategy.ts
  src/auth/strategies/user.jwt.strategy.ts
  src/auth/types/admin.jwt-payload.ts
  src/auth/types/admin.jwt-request.ts
  src/auth/types/admin.local-request.ts
  src/auth/types/universal.jwt-request.ts
  src/auth/types/user.jwt-payload.ts
  src/auth/types/user.jwt-request.ts
  src/user/controllers/user.controller.ts
  src/user/dtos/create-user.dto.ts
  src/user/entities/user.entity.ts
  src/user/services/user.service.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

feat: user endpoints functionality (#18)
  src/admin/controllers/admin.controller.ts
  src/admin/entities/admin.entity.ts
  src/auth/auth.module.ts
  src/auth/services/auth.service.ts
  src/auth/strategies/admin.jwt.stategy.ts
  src/auth/strategies/admin.local.strategy.ts
  src/auth/strategies/universal.jwt.strategy.ts
  src/auth/strategies/user.jwt.strategy.ts
  src/auth/types/admin.jwt-payload.ts
  src/auth/types/admin.jwt-request.ts
  src/auth/types/admin.local-request.ts
  src/auth/types/universal.jwt-request.ts
  src/auth/types/user.jwt-payload.ts
  src/auth/types/user.jwt-request.ts
  src/common/utils/hashing.ts
  src/payment/dtos/transfer-money.dto.ts
  src/payment/payment.module.ts
  src/source/controllers/source.controller.spec.ts
  src/source/controllers/source.controller.ts
  src/source/dtos/create-source.dto.ts
  src/source/services/source.service.ts
  src/source/source.module.ts
  src/user/controllers/user.controller.ts
  src/user/dtos/create-user.dto.ts
  src/user/dtos/update-paritial-user.dto.ts
  src/user/dtos/update-user.dto.ts
  src/user/entities/user.entity.ts
  src/user/services/user.service.ts
  web/swagger/swagger.json
Due: eslint --fix, prettier --write

docs(dev): add note for dev command (just)
  README.md
Due: prettier --list-different

fix: use decimal.js to handle money
  justfile
  package-lock.json
  package.json
  src/common/transformers/decimal.transformer.ts
  src/payment/entities/top-up.entity.ts
  src/payment/services/payment.service.ts
  src/payment/services/top-up.service.ts
  src/plan/entities/plan-history.entity.ts
  src/setting/entities/settings.entity.ts
  src/source/entities/source.entity.ts
  src/source/services/source.service.ts
  src/statistic/entities/statistic.entity.ts
  src/ticket/entities/ticket-history.entity.ts
Due: eslint --fix, prettier --write

feat: add ticket endpoint to get all ticket of user
  src/auth/services/auth.service.ts
  src/ticket/controllers/ticket.controller.ts
  src/ticket/services/ticket.service.ts
  src/ticket/ticket.module.ts
Due: eslint --fix, prettier --write

fix: inject source and user to ticket modules
  src/app.module.ts
  src/auth/services/auth.service.ts
  src/config/config.module-options.ts
  src/ticket/ticket.module.ts
Due: eslint --fix, prettier --write

refactor: i don't what i did
  src/auth/services/auth.service.ts
  src/auth/strategies/universal.jwt.strategy.ts
  src/auth/strategies/user.jwt.strategy.ts
  src/source/controllers/source.controller.ts
  src/source/services/source.service.ts
  src/ticket/controllers/ticket.controller.ts
  src/ticket/services/ticket.service.ts
  src/ticket/ticket.module.ts
  src/user/controllers/user.controller.ts
  src/user/services/user.service.ts
  src/user/user.module.ts
Due: eslint --fix, prettier --write

chore: unused throw exception
  src/source/services/source.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {src,apps,libs,test}/**/*.ts
  prettier --write: any of: {src,apps,libs,test}/**/*.ts
  prettier --list-different: any of: *.md
