Repository coinhub-uit/server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --list-different

chore(dev): add more tasks for vscode
  .editorconfig
  .vscode/tasks.json
Due: none

ci: add commit check
  .github/workflows/commit-lint.yml
Due: none

ci: install commit lint with dev deps for caching
  .github/workflows/commit-lint.yml
Due: none

ci: format check with eslint and prettier
  .github/workflows/format-check.yml
Due: none

chore: suspend eslint floating promises
  src/main.ts
Due: eslint --fix, prettier --write

ci: cache deps
  .github/workflows/commit-lint.yml
  .github/workflows/format-check.yml
Due: none

ci: add code check (#2)
  .github/workflows/commit-lint.yml
  .github/workflows/format-check.yml
  src/main.ts
Due: eslint --fix, prettier --write

feat: users module bootstrap
  .husky/pre-commit
  package-lock.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/modules/users/controllers/users.controller.ts
  src/modules/users/dtos/create-ticket.dto.ts
  src/modules/users/dtos/create-user.dto.ts
  src/modules/users/dtos/update-user.dto.ts
  src/modules/users/entities/method.entity.ts
  src/modules/users/entities/ticket.entity.ts
  src/modules/users/entities/user.entity.ts
  src/modules/users/services/user.service.ts
  src/modules/users/users.module.ts
Due: eslint --fix, prettier --write

chore(entity): add properties and relationships
  src/modules/users/entities/method.entity.ts
  src/modules/users/entities/notification.entity.ts
  src/modules/users/entities/rate.entity.ts
  src/modules/users/entities/ticket.entity.ts
  src/modules/users/entities/transaction.entity.ts
  src/modules/users/entities/user.entity.ts
Due: eslint --fix, prettier --write

feat: set up database
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
  src/modules/users/users.module.ts
Due: eslint --fix, prettier --write

docs(README): add badges, dev cmd
  README.md
Due: prettier --list-different

refactor: restructure the mobile module
  package-lock.json
  package.json
  src/app.module.ts
  src/modules/mobile/auth/auth.module.ts
  src/modules/mobile/auth/strategies/auth.jwt.ts
  src/modules/mobile/mobile.module.ts
  src/modules/mobile/notification/dtos/create-notification.dto.ts
  src/modules/mobile/notification/entities/notification.entity.ts
  src/modules/mobile/notification/notification.module.ts
  src/modules/mobile/ticket/dtos/create-ticket.dto.ts
  src/modules/mobile/ticket/entities/ticket.entity.ts
  src/modules/mobile/ticket/ticket.module.ts
  src/modules/mobile/transaction/dtos/create-transaction.dto.ts
  src/modules/mobile/transaction/entities/transaction.entity.ts
  src/modules/mobile/transaction/transaction.module.ts
  src/modules/mobile/user/dtos/create-user.dto.ts
  src/modules/mobile/user/entities/user.entity.ts
  src/modules/mobile/user/user.module.ts
  src/modules/users/controllers/users.controller.ts
  src/modules/users/dtos/create-ticket.dto.ts
  src/modules/users/dtos/create-user.dto.ts
  src/modules/users/dtos/update-user.dto.ts
  src/modules/users/entities/method.entity.ts
  src/modules/users/entities/rate.entity.ts
  src/modules/users/services/user.service.ts
  src/modules/users/users.module.ts
Due: eslint --fix, prettier --write

chore: remove join column decorator
  src/modules/mobile/notification/entities/notification.entity.ts
  src/modules/mobile/ticket/entities/ticket.entity.ts
Due: eslint --fix, prettier --write

chore: add desc for swagger
  src/main.ts
Due: eslint --fix, prettier --write

ci(code-check): update
  .github/workflows/code-check.yml
Due: none

chore(husky): fix command commitlint
  .husky/commit-msg
Due: none

chore(husky): fix command commitlint via npm run
  .husky/commit-msg
Due: none

feat: handle auth with jwt in local
  package-lock.json
  package.json
  src/mobile/auth/auth.module.ts
  src/mobile/auth/services/auth.service.ts
  src/mobile/auth/strategies/jwt.strategy.ts
  src/mobile/auth/strategies/local.strategy.ts
  src/mobile/auth/utils/interfaces/user.interface.ts
  src/mobile/guard/guard.module.ts
  src/mobile/guard/jwt.guard.spec.ts
  src/mobile/guard/jwt.guard.ts
  src/mobile/guard/local-auth.guard.spec.ts
  src/mobile/guard/local-auth.guard.ts
  src/mobile/mobile.module.ts
  src/mobile/user/controllers/user.controller.ts
  src/mobile/user/entities/user.entity.ts
  src/mobile/user/services/user.service.ts
  src/mobile/user/user.module.ts
Due: eslint --fix, prettier --write

chore(dev): add docker compose
  compose.yaml
Due: none

chore(dev): dev with docker
  .dockerignore
  compose.yaml
  dev.Dockerfile
Due: none

feat: setup entities with typeorm
  src/app.module.ts
  src/method/entities/method.entity.ts
  src/method/method.module.ts
  src/plan/interest_rate/interest_rate.module.ts
  src/plan/plan.module.ts
  src/source/entities/source.entity.ts
  src/ticket/entities/ticket.entity.ts
  src/ticket/ticket.module.ts
  src/ticket/ticket_interest_rate/entities/ticket_interest_rate.entity.ts
  src/ticket/ticket_interest_rate/ticket_interest_rate.module.ts
  src/transaction/entities/transaction.entity.ts
  src/transaction/transaction.module.ts
  src/user/dtos/create-user.dto.ts
  src/user/entities/user.entity.ts
  src/user/source/entities/source.entity.ts
  src/user/source/source.module.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
  src/user/user.module.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
  src/user/utils/types.ts
Due: eslint --fix, prettier --write

chore: stopped caring 23 commits ago
  src/notification/entities/notification.entity.ts
  src/user/dtos/create-user.dto.ts
  src/user/utils/types.ts
Due: eslint --fix, prettier --write

chore: add js to run install
  .husky/install.mjs
  package.json
  scripts/bootstrap.mjs
  scripts/install-husky.mjs
Due: none

chore: config prepare script
  compose.yaml
  dev.Dockerfile
  package.json
Due: none

feat: add getUsers
  src/app.module.ts
  src/method/method.module.ts
  src/transaction/entities/transaction.entity.ts
  src/user/dtos/create-user.dto.ts
  src/user/source/entities/source.entity.ts
  src/user/user.controller.ts
  src/user/user.service.ts
Due: eslint --fix, prettier --write

chore(dev): setup compose, docker rewrite
  .dockerignore
  .env.example
  Dockerfile
  README.md
  dev.Dockerfile
  docker-compose/api-server.compose.yaml
  docker-compose/db.compose.yaml
  docker-compose/development.local.compose.yaml
  docker-compose/production.local.compose.yaml
  justfile
  scripts/bootstrap.mjs
  scripts/config-env-files.mjs
  scripts/install-husky.mjs
  tsconfig.json
Due: prettier --list-different

chore: add entities
  src/app.module.ts
  src/plan/entities/plan.entity.ts
  src/plan/interest_rate/entities/interest_rate.entity.ts
  src/plan/interest_rate/interest_rate.module.ts
  src/plan/plan.module.ts
  src/ticket/entities/ticket.entity.ts
  src/ticket/ticket.module.ts
  src/ticket/ticket_interest_rate/entities/ticket_interest_rate.entity.ts
  src/ticket/ticket_interest_rate/ticket_interest_rate.module.ts
Due: eslint --fix, prettier --write

chore: add "Admin related stuff" entities
  src/admin/admin.module.ts
  src/admin/entities/admin.entity.ts
  src/app.module.ts
  src/plan/plan.module.ts
  src/setting/entities/setting.entity.ts
  src/setting/setting.module.ts
  src/statistic/entities/statistic.entity.ts
  src/statistic/statistic.module.ts
Due: eslint --fix, prettier --write

feat: config for railway
  .railwayignore
  railway.json
  scripts/bootstrap.mjs
  scripts/config-env-files.mjs
  scripts/install-husky.mjs
Due: none

fix: some types in postgresql, typeorm
  src/admin/entities/admin.entity.ts
  src/plan/entities/plan.entity.ts
Due: eslint --fix, prettier --write

chore: handle local auth
  src/admin/admin.module.ts
  src/admin/admin.service.spec.ts
  src/admin/admin.service.ts
  src/app.module.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/guards/local-auth/local-auth.guard.spec.ts
  src/auth/guards/local-auth/local-auth.guard.ts
  src/auth/strategies/local.strategy.ts
  src/config/database.config.ts
Due: eslint --fix, prettier --write

chore: add abstract entity
  src/admin/entities/admin.entity.ts
  src/method/entities/method.entity.ts
  src/notification/entities/notification.entity.ts
  src/plan/entities/plan.entity.ts
  src/setting/entities/setting.entity.ts
  src/statistic/entities/statistic.entity.ts
  src/ticket/entities/ticket.entity.ts
  src/transaction/entities/transaction.entity.ts
  src/user/entities/user.entity.ts
  src/utils/abstract.entity.ts
Due: eslint --fix, prettier --write

chore: add isSeen prop for Noti Entity
  src/notification/entities/notification.entity.ts
Due: eslint --fix, prettier --write

feat: handle jwt token and refresh token
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/guards/jwt-auth/jwt-auth.guard.spec.ts
  src/auth/guards/jwt-auth/jwt-auth.guard.ts
  src/auth/guards/refresh-auth/refresh-auth.guard.spec.ts
  src/auth/guards/refresh-auth/refresh-auth.guard.ts
  src/auth/strategies/jwt.stategy.ts
  src/auth/strategies/refresh.strategy.ts
  src/config/jwt.config.ts
  src/config/refresh-jwt.config.ts
  src/utils/types/env.d.ts
Due: eslint --fix, prettier --write

chore: totally more readable
  src/admin/admin.controller.spec.ts
  src/admin/admin.controller.ts
  src/admin/admin.module.ts
  src/admin/admin.service.ts
  src/admin/dtos/create-admin.dto.ts
  src/admin/utils/types.ts
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/config/database.config.ts
  src/setting/entities/setting.entity.ts
  src/statistic/entities/statistic.entity.ts
Due: eslint --fix, prettier --write

chore: add class validator
  package-lock.json
  package.json
  src/admin/dtos/create-admin.dto.ts
  src/main.ts
  src/user/dtos/create-user.dto.ts
Due: eslint --fix, prettier --write

chore: add view entity
  src/app.module.ts
  src/plan-interest-rate/entities/plan-interest-rate.entity.ts
  src/plan-interest-rate/plan-interest-rate.controller.spec.ts
  src/plan-interest-rate/plan-interest-rate.controller.ts
  src/plan-interest-rate/plan-interest-rate.module.ts
  src/plan-interest-rate/plan-interest-rate.service.spec.ts
  src/plan-interest-rate/plan-interest-rate.service.ts
Due: eslint --fix, prettier --write

chore(railway): ignore dockerfile
  .railwayignore
Due: none

Path conditions:
  eslint --fix: any of: {src,apps,libs,test}/**/*.ts
  prettier --write: any of: {src,apps,libs,test}/**/*.ts
  prettier --list-different: any of: *.md
